<section class='teachers' >
  <p class='big-label' >Acceso rapido</p>
  <div class='quick-stats-container'>
    <div class = 'dynamic-wide-button-small' >
      <p class='medium-label-light' style='color: white'>Grupos</p>
    </div >
    <div class = 'dynamic-wide-button-small' >
      <p class='medium-label-light' style='color: white'>Tutorias</p>
    </div >
    <div class = 'dynamic-wide-button-small' >
      <p class='medium-label-light' style='color: white'>Cursos</p>
    </div >
    <div class = 'dynamic-wide-button-small' >
      <p class='medium-label-light' style='color: white'>Estudiantes</p>
    </div >
    <div class = 'dynamic-wide-button-small' >
      <p class='medium-label-light' style='color: white'>Padres</p>
    </div >
  </div>


  <p class='big-label' >Estadisticas</p>
  <div class='quick-stats-container'>
    <div class = 'small-card' >
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4' >Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div >
    <div class = 'small-card' >
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4' >Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div >
    <div class = 'small-card' >
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4' >Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div >
    <div class = 'small-card' >
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4' >Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div >
  </div>

  <div class='courses-header' >
    <div>
      <p class='big-label' >Mis cursos</p>
      <p class='small-label-light' >Ver todos</p>
    </div>
    <button class='dynamic-wide-button'>
      Crear un curso nuevo
    </button>
  </div>

  <div class='courses-body'>
    <div class='medium-card' >
      <div class='course-card-header' >

      </div>
    </div>
    <div class='medium-card' ></div>
    <div class='medium-card' ></div>
    <div class='medium-card' ></div>
    <div class='medium-card' ></div>
    <div class='medium-card' ></div>
  </div>


</section>
