<section class='teachers' >
  <p class='medium-label' >Quick stats</p>
  <div class='quick-stats-container'>
    <div class = 'small-card' ><p class='medium-label gradient-label' style='--color-1:red; --color-2:blue' >hola mundo</p></div >
    <div class = 'small-card' ><p class='medium-label gradient-label' style='--color-1:red; --color-2:blue' >hola mundo</p></div >
    <div class = 'small-card' ></div >
    <div class = 'small-card' ></div >
    <div class = 'small-card' ></div >
  </div>

  <button class='small-icon-button'>
  </button>



  <button class='dynamic-wide-button'>
  </button>

</section>
