<section >

  <div class = 'tutorials-header' >
    <p class = 'big-label' >Tutorias</p >
    <button class = 'dynamic-wide-button' id = 'create-course-button' >Agendar una tutoria</button >
  </div >
  <hr >

  <p class = 'big-label' style = 'margin: 40px 0 20px' >Proximas tutorias </p >
  <div class='flex-column-layout'  >

    <div class = 'very-large-card' >
      <div class = 'course-card-header grid-layput-3' style = '--color-1:#edaa46; --color-2:#e7c82f; height: 30%; justify-content: space-between' >
        <p class = 'big-label' style = 'color: white' >Tutoria grupal de matematicas</p >
        <p class = 'medium-label-light' style = 'color: white; text-align: end ' >Fecha: 23/07/2022, 14:00h</p >
        <p class = 'medium-label-light' style = 'color: white; text-align: end ' >Acceso global</p >
      </div >

      <div class = 'course-card-body' >
        <div class = 'flex-row-layout' style = 'align-items: center' >
          <div class = 'user-avatar-group' >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/300' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/301' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/302' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/303' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/304' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <p class = 'medium-label' style = 'background: #6499E5; color: white; height: 100%; width: 100%; display: grid; place-content: center' >+56</p >
            </div >
          </div >
          <p class = 'medium-label-light' >Estudiantes interesados</p >
        </div >
        <div class = 'flex-row-layout' >
          <input class = 'text-input' type = 'text' id = 'search' placeholder = 'Stream url' />
          <button class = 'wide-button' routerLink="/teachers/tutorials/group" >Iniciar stream</button >
        </div >
      </div >
    </div >

    <div class = 'very-large-card' >
      <div class = 'course-card-header grid-layput-3' style = '--color-1:#46edb3; --color-2:#2fa0e7; height: 30%; justify-content: space-between' >
        <p class = 'big-label' style = 'color: white' >Asesoria de historia</p >
        <p class = 'medium-label-light' style = 'color: white; text-align: end ' >Fecha: 24/07/2022, 16:00h</p >
        <p class = 'medium-label-light' style = 'color: white; text-align: end ' >Acceso institucion</p >
      </div >

      <div class = 'course-card-body' >
        <div class = 'flex-row-layout' style = 'align-items: center' >
          <div class = 'user-avatar-group' >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/300' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/301' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/302' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/303' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <img src = 'https://i.pravatar.cc/304' alt = 'user-avatar' >
            </div >
            <div class = 'user-avatar-rounded-small' >
              <p class = 'medium-label' style = 'background: #6499E5; color: white; height: 100%; width: 100%; display: grid; place-content: center' >+16</p >
            </div >
          </div >
          <p class = 'medium-label-light' >Estudiantes interesados</p >
        </div >
        <div class = 'flex-row-layout' style = 'justify-content: space-between; align-items: end' >
          <div >
            <p class = 'medium-label-light' >Id: 89c3b97e-46ed-4d76-978a-ef239b236f8b</p >
            <p class = 'medium-label-light' >Url: https://open-school-metings.azurewebsites.net/89c3b97e-46ed-4d76-978a-ef239b236f8b</p >
          </div >
          <div class = 'flex-row-layout' >
            <button class = 'wide-button' > Compartir enlace</button >
            <a class = 'wide-button' style='text-decoration: none' href = 'https://open-school-metings.azurewebsites.net/89c3b97e-46ed-4d76-978a-ef239b236f8b' >ir a la sesion</a >
          </div >

        </div >
      </div >
    </div >
  </div >

</section >

