<section>
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <form autocomplete="off">
          <div class="card card-login align-items-center">
            <div class="card-header">
              <h1 class='big-label mt-3'>SIGN UP<br>(Profesor)</h1>
            </div>
            <div class="card-body col-7">
              <div class="input-group mb-2">
                <input type="text" formControlName="email" id="email" class="input-text form-control" required
                       placeholder="Nombre completo"/>
              </div>
              <div class="input-group mt-2">
                <input type="password" formControlName="password" class="input-text form-control" required
                       placeholder="Edad"/>
              </div>
              <div class="input-group mt-2">
                <input type="password" formControlName="password" class="input-text form-control" required
                       placeholder="Nombre de su institución"/>
              </div>
              <div class="input-group mt-2">
                <input type="password" formControlName="password" class="input-text form-control" required
                       placeholder="Correo electrónico"/>
              </div>
              <div class="input-group mt-2">
                <input type="password" formControlName="password" class="input-text form-control" required
                       placeholder="Contraseña"/>
              </div>
              <div class="input-group mt-2">
                <input type="password" formControlName="password" class="input-text form-control" required
                       placeholder="Repite tu contraseña"/>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="dynamic-wide-button mb-4">ACCEDER</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
