@import '../../../sass/components/imports.scss';

.teachers{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 2% 5%;
}

.quick-stats-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.courses-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.courses-body{
  box-sizing: border-box;
  width: 100%;
  padding: 30px 0 ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
}
