@mixin common-props{
  height: 50px;
  border-radius: 15px;
  border: none;
  color: white;
  box-shadow:0 5px 0 #5479c8;
  font-size: 18px;
  background: #468aed;
  font-weight: 500;

  &:hover{
    background: #6499E5;
    box-shadow:0 5px 0 #5479c8;
    }

  &:active{
    background: #5479c8;
    transform: translate(0, 5px);
    box-shadow: none;
    }
  }

.small-icon-button{
  display: grid;
  place-content: center;
  width: 50px;
  @include common-props;

  }

.wide-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  @include common-props;
  }

.dynamic-wide-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 15px;
  @include common-props;
  }

.dynamic-wide-button-small{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 15px;
  @include common-props;
  height: 30px;
  }
