@mixin label-light {
  color: gray;
  font-weight: 400;
  margin: 0;
  }

@mixin label {
  font-weight: bold;
  margin: 0;
  }

.small-label-light {
  font-size: 12px;
  @include label-light;
  }

.medium-label-light {
  font-size: 18px;
  @include label-light;
  }

.big-label-light {
  font-size: 24px;
  @include label-light;
  }

.massive-label-light {
  font-size: 32px;
  @include label-light;
  }

.small-label{
  font-size: 12px;
  @include label;
}

.medium-label{
  font-size: 18px;
  @include label;
}

.big-label{
  font-size: 24px;
  @include label;
}

.massive-label{
  font-size: 36px;
  @include label;
}

.gradient-label{
  $first-color: var(--color-1);
  $second-color: var(--color-2);
  background: linear-gradient(to right, $first-color, $second-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
