@mixin section-layout {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 2% 5%;
  }

.flex-row-layout{
  display: flex;
  flex-direction: row;
  gap: 30px;
  }

.flex-column-layout{
  display: flex;
  flex-direction: column;
  gap: 30px;
  }

.grid-layput-3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  align-items: center;
  grid-gap: 50px;
  }
