<section>
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <form autocomplete="off">
          <div class="card card-login align-items-center">
            <div class="card-header mt-4">
              <h1 class="big-label">¿Qué rol desempeña?</h1>
            </div>
            <div class="mt-4 mb-4">
              <div class="d-flex flex-row">
                <div class="input-group mb-2 mx-2">
                  <button class="wide-button">Profesor</button>
                </div>
                <div class="input-group mb-2 mx-2">
                  <button class="wide-button">Padre de familia</button>
                </div>
                <div class="input-group mb-2 mx-2">
                  <button class="wide-button">Tutor</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
