@import "../../../sass/components/labels";
@import "../../../sass/components/cards";
@import "../../../sass/components/buttons";

.card-header{
  border: none !important;
  background-color: white !important;
}

.card-footer{
  border: none !important;
  background-color: white !important;
}
