<section class='user'>
  <div class='courses-header'>
  <div class="row">
  <p class='big-label'>Publicaciónes recientes</p>
    <button class='dynamic-wide-button'>
      Más publicaciónes recientes
    </button>
  </div>
  </div>

  <div class='quick-stats-container'>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Nuevo articulo compartido</p>
      <p class='big-label-light' style='font-weight: bold'>Descripcion</p>
    </div>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Nuevo video</p>
      <p class='big-label-light' style='font-weight: bold'>Descripcion</p>
    </div>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Nuevo trofeo obtenido</p>
      <p class='big-label-light' style='font-weight: bold'>Descripcion</p>
    </div>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Nuevo articulo compartido</p>
      <p class='big-label-light' style='font-weight: bold'>Descripcion</p>
    </div>
  </div>

  <div class='courses-header' >
    <div>
      <p class='big-label' >Cursos Populares</p>
      <button class='dynamic-wide-button'>
        Ver todos los cursos
      </button>
    </div>
  </div>

  <div class='courses-body'>

    <div class='medium-card' routerLink="/students/course/matematicas" *ngFor='let course of courses' >
      <div class='course-card-header' [ngStyle]="{'--color-1':getRandomColor(), '--color-2':getRandomColor()}" >
        <p class='big-label' style='color: white' >{{course.name}}</p>
        <p class='medium-label-light' style='color: white' >{{course.level}}</p>
      </div>
      <div class='course-card-body'>
        <p class='medium-label-light' >Alumnos inscritos</p>
        <div class='user-avatar-group' >
          <div class='user-avatar-rounded-small'>
            <img src='https://i.pravatar.cc/300' alt='user-avatar'>
          </div>
          <div class='user-avatar-rounded-small'>
            <img src='https://i.pravatar.cc/301' alt='user-avatar'>
          </div>
          <div class='user-avatar-rounded-small'>
            <img src='https://i.pravatar.cc/302' alt='user-avatar'>
          </div>
          <div class='user-avatar-rounded-small'>
            <img src='https://i.pravatar.cc/303' alt='user-avatar'>
          </div>
          <div class='user-avatar-rounded-small'>
            <img src='https://i.pravatar.cc/304' alt='user-avatar'>
          </div>
          <div class='user-avatar-rounded-small'>
            <p class='medium-label' style='background: #6499E5; color: white; height: 100%; width: 100%; display: grid; place-content: center' >+20</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
