<section class='user'>
  <div class='courses-header'>
  <div class="row">
  <p class='big-label'>Publicaciónes recientes</p>
    <button class='dynamic-wide-button'>
      Más publicaciónes recientes
    </button>
  </div>
  </div>

  <div class='quick-stats-container'>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div>
    <div class='small-card'>
      <p class='medium-label gradient-label' style='--color-1:#468aed; --color-2:#00bcd4'>Hola mundo</p>
      <p class='big-label-light' style='font-weight: bold'>100</p>
    </div>
  </div>

  <div class='courses-header'>
    <div>
      <p class='big-label'>Mis cursos</p>
      <button class='dynamic-wide-button'>
        Ver todos los cursos
      </button>
    </div>
  </div>
  <div class='courses-body'>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#468aed; --color-2:#00bcd4'>
        <p class='big-label' style='color: white'>Aritmetica basica</p>
        <p class='medium-label-light' style='color: white'>Primaria 2do grado</p>

      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#ed46b8; --color-2:#6600d4'>
        <p class='big-label' style='color: white'>Historia de mexico</p>
        <p class='medium-label-light' style='color: white'>Primaria 1er grado</p>

      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#edd746; --color-2:#d45f00'>
        <p class='big-label' style='color: white'>Ciencias naturales</p>
        <p class='medium-label-light' style='color: white'>Primaria 2do grado</p>


      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#999ba9; --color-2:#236cd2'>
        <p class='big-label' style='color: white'>Aritmetica basica</p>
        <p class='medium-label-light' style='color: white'>Primaria 2do grado</p>

      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#5d2323; --color-2:#9b4e93'>
        <p class='big-label' style='color: white'>Historia de mexico</p>
        <p class='medium-label-light' style='color: white'>Primaria 1er grado</p>

      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#b9ae7d; --color-2:#ff9d4e'>
        <p class='big-label' style='color: white'>Ciencias naturales</p>
        <p class='medium-label-light' style='color: white'>Primaria 2do grado</p>


      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#6497e1; --color-2:#9417ad'>
        <p class='big-label' style='color: white'>Aritmetica basica</p>
        <p class='medium-label-light' style='color: white'>Primaria 2do grado</p>

      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#f87c22; --color-2:#9853e5'>
        <p class='big-label' style='color: white'>Historia de mexico</p>
        <p class='medium-label-light' style='color: white'>Primaria 1er grado</p>

      </div>
    </div>
    <div class='medium-card'>
      <div class='course-card-header' style='--color-1:#811b7c; --color-2:#597e1a'>
        <p class='big-label' style='color: white'>Ciencias naturales</p>
        <p class='medium-label-light' style='color: white'>Primaria 2do grado</p>


      </div>
    </div>
  </div>
</section>
