@import '../../../sass/components/labels.scss';
@import '../../../sass/components/cards.scss';
@import '../../../sass/components/buttons.scss';
@import '../../../sass/components/links.scss';
@import '../../../sass/components/images.scss';


.user{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 2% 5%;
}

.quick-stats-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.courses-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.courses-body{
  box-sizing: border-box;
  padding: 30px 0 ;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
