@import '../../../../../sass/components/labels.scss';
@import '../../../../../sass/components/cards.scss';
@import '../../../../../sass/components/buttons.scss';
@import '../../../../../sass/components/links.scss';
@import '../../../../../sass/components/images.scss';


.headerInfo{
  width: 70%;
  float: left;
  margin: 20px 0;
}

.buttonNext{
  width: 20%;
  float: left;
  margin: 20px 0;
}
